body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f6f8fb;
    color: #333;
    font-size: 20px;
}

/* Botón toggle */
.menu-toggle {
    position: fixed;
    top: 15px;
    left: 15px;
    background-color: #d32f2f;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 22px;
    cursor: pointer;
    border-radius: 8px;
    z-index: 1001;
}

/* Sidebar */
.sidebar {
    position: fixed;
    left: -260px;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #4c4c4c;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    transition: 0.3s ease;
    z-index: 1000;
}

.sidebar.active {
    left: 0;
}

.user-info {
    margin-top: 30px;
    text-align: center;
}

.user-section {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar.active a{
    color: #d32f2f;
}

.sidebar.active a:hover{
    color: #fb3e3e;
}

.logout-btn {
    align-self: center;
    padding: 10px 20px;
    background-color: #c62828;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.logout-btn:hover {
    background-color: #ff4757;
}

/* Contenido principal */
.main-content {
    margin-left: 0;
    padding: 60px 20px;
    transition: margin-left 0.3s ease;
}

.sidebar.active ~ .main-content {
    margin-left: 250px;
}

.main-content h2 {
    color: #d32f2f;
    margin-bottom: 10px;
}

.main-content h3 {
    color: #993b3b;
    margin-bottom: 10px;
}

.main-content p {
    color: #555;
    margin-bottom: 25px;
}

.main-content {
    margin-left: 0;
    padding: 60px 20px;
    transition: margin-left 0.3s ease;
}

.action-btn {
    border: none;
    border-radius: 5px;
    padding: 6px 10px;
    cursor: pointer;
    color: white;
    margin-right: 5px;
    transition: background-color 0.3s;
}

.edit-btn {
    background-color: #4CAF50;
}

.edit-btn:hover {
    background-color: #43a047;
}

.delete-btn {
    background-color: #e53935;
}

.delete-btn:hover {
    background-color: #d32f2f;
}

/*Diseño del formulario*/
.form-section {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    margin: 0 auto 15px auto;
    max-width: 600px;
}

.form-section form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-section input, 
.form-section select,
.form-section textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

.form-section button {
    background-color: #d32f2f;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.form-section button:hover {
    background-color: #b71c1c;
}


/*Contenedor de reportes creados*/
.tarjeta-reporte {
    background-color: #fff;
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
    border-left: 6px solid #b30000;
}

.tarjeta-reporte p {
    margin: 5px 0;
    color: #333;
}

.bloque-evidencia {
    margin-top: 30px;
    text-align: right;
}

.media-evidencia {
    width: 100%;
    max-width: 520px;
    border-radius: 8px;
    margin-top: 8px;
}

.sin-reportes {
    text-align: center;
    color: #777;
    font-style: italic;
    margin-top: 20px;
}

.sin-evidencia {
    color: #999;
    font-style: italic;
    font-size: 0.9em;
}

.estatus {
    font-weight: bold;
    padding: 4px 10px;
    border-radius: 6px;
    color: #fff;
}

.estatus.resuelto {
    background-color: #28a745;
}

.estatus.pendiente {
    background-color: #ffc107;
    color: #000;
}


/* Mapa */
#map {
    width: 90%;
    height: 700px;
    border-radius: 10px;
    margin: 0 auto 15px auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: block
}
